<h1>register</h1>

{{> external-login-methods}}

<form method="post">
  <div class="form-group">
    <label for="name">name</label>
    <input name="name" type="text" id="name" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="email">email</label>
    <input name="email" type="email" id="email" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="password">password</label>
    <input name="password" type="password" id="password" class="form-control" required>
  </div>
  <div class="form-group">
    <input type="submit" value="login" class="btn btn-primary">
    <a href="/register" class="btn btn-link">register</a>
  </div>
</form>